@using Shuai.IdentityServer.V1._0.Models.Account
@model Login
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form id="account" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameOrEmailOrPhone"></label>
                <input asp-for="NameOrEmailOrPhone" class="form-control" />
                <span asp-validation-for="NameOrEmailOrPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-controller="Account" asp-action="ForgotPassword">忘记密码?</a>
                </p>
                <p>
                    <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">注册新用户</a>
                </p>
            </div>
        </form>
    </div>
</div>

